# Python bytecode caches
__pycache__/
*.py[cod]

# Conda environments and metadata
.conda/
conda-meta/

# VS Code workspace settings
.vscode/

# csv files
.portfolio_algorithm_csv/
.portfolio_plots_csv/
